# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies & Package Manager Logs
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables (Sangat Penting untuk Keamanan!)
.env
.env*.local

# Next.js Build & Cache
/.next/
/out/
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE Config
.vscode